// Colors
$c-primary: #225193;
$c-bluelight: #479cd5;
$c-yellow: #ffdb00;
$c-orange: rgb(253, 156,
20);
$c-black: #252525;
$c-white: #fff;
$c-white-off: #efefef;


// Typography
$f-montserrat: "Montserrat", sans-serif;
